<div class=form-container>
<%= simple_form_for([@restaurant, @review]) do |f| %>
<%= f.input :content, required: false, placeholder: "review of the restaurant"%>
<%= f.input :rating, placeholder: "Rating" %>
<%= f.submit class: "btn btn-success" %>
<% end %>
</div>
